<html>
    <head>
        <title>CountryList</title>
    </head>
    <body>
        <h1>CountryList</h1>
        <input type="button" value="add" onclick="location.href='/countrys/add'">
        <% data.forEach(function(item) {%>
            <ul><li>_id : <a href='/countrys/<%=item._id %>'> <%=item._id %></a></li>
                <li>name : <%=item.name %></li>
                <li>language : <%=item.language %></li>
                <li>capital : <%=item.capital %></li>
            </ul>
        <%}) 
        %>
    </body>
</html>