<html>
    <head>
        <title>CountryDetail</title>
    </head>
    <body>
        <h1>CountryDetail</h1>
            <ul><li>id : <%=info._id %></li>
                <li>name : <%=info.name %></li>
                <li>language : <%=info.language %></li>
                <li>capital : <%=info.capital %></li>
            </ul>
            
            <form name="detail" method="post" action="/countrys/<%=info._id %>">
                <input type="hidden" name="_id" value="<%= info._id %>">
                <input type="button" value="back" onclick="history.back(-1)">
                <input type="button" value="Edit" onclick="location.href='/countrys/update/<%= info._id %>'">
                <input type="submit" value="Delete">
            </form>
    </body>
    </html>